<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sed eos debitis qui aperiam soluta quia repellendus consectetur magni rem molestiae numquam quam doloribus porro earum, quis maiores perferendis hic?</p>
    <script src="https://widget.cxgenie.ai/widget.js" data-aid="c78b9b22-6bc1-4025-b9fe-6387f69a16bd"></script>
</body>
</html>