<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="preload" href="/assets/images/aot-logo.jpg" as="image">
    <link rel="stylesheet" href="/styles/changePass.css">
</head>

<body>
    <img src="/assets/images/aot-logo.jpg" alt="AOT" loading=" eager" decoding="async">
    <div class="login-container">
        <h2>Change Password</h2>
        <%- include("./partials/message") -%>
            <form id="login-form" action="/studentPortal/studentlogin/forgetPassword/changePassword" method="POST">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Length must be 8 or more"
                        required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" name="confirm-password" id="confirm-password"
                        placeholder="Length must be 8 or more" required>
                </div>
                <button type="submit" id="submit">Submit</button>
            </form>
    </div>
    <script src="https://widget.cxgenie.ai/widget.js" data-aid="c78b9b22-6bc1-4025-b9fe-6387f69a16bd"></script>
</body>

</html>