<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/ug-cseStyle.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">

    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">

    <!-- <link rel="stylesheet" href="/styles/chatbot.css"> -->
    <!-- swiper slider css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/nssStyle.css">
    <link rel="stylesheet" href="/styles/chatbot.css">
    <title>NSS AOT</title>
</head>

<body>
    <!-- Chatbot Icon -->
    <div id="chatbot-icon" class="icon">
        <img width="50" height="50" src="https://img.icons8.com/3d-fluency/94/chatbot.png" alt="chatbot" />
    </div>

    <!-- Chatbot Window -->
    <div class="chat-container hidden">
        <div class="chat-header">
            <div id="back-icon" class="icon">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/multiply.png"
                    alt="multiply" />
            </div>
            <h2>AOT Assist</h2>
            <!-- <button id="clear-chat">Clear Chat</button> -->
            <img id="clear-chat" width="35" height="35" src="https://img.icons8.com/ultraviolet/40/refresh--v1.png"
                alt="refresh--v1" />
        </div>
        <div id="chatbox" class="chatbox"></div>
        <div class="input-container">
            <input type="text" id="input" placeholder="Type a message...">
            <button id="send">Send</button>
        </div>
    </div>
    <!-- chatbot window end here -->
    <div class="onOrOff">
        <img src="/assets/images/icons8-no-connection.gif" alt="./assets/images/icons8-no-connection.gif">
        <img src="/assets/images/icons8-online.gif" alt="./assets/images/icons8-online.gif">
        <p>We are online</p>
    </div>
    <main>

        <div class="to-top">
            <a href="#">
                <img src="/assets/images/icons8-up-arrow-50.png" alt="">
            </a>
        </div>
        <header>

            <div class="banner">
                <div class="left">
                    <img src="/assets/images/aot-logo.webp" loading="lazy" alt="Error">
                </div>
                <div class="middle">
                    <h1>ACADEMY OF TECHNOLOGY</h1>
                    <span>...translate your vision into reality</span>
                </div>
            </div>

        </header>

        <div class="beforeIntro">
            <div class="back-btn">
                <img src="/assets/video/icons8-home.gif" alt="home" />
            </div>
            <h1 class="headings">NSS AOT</h1>
        </div>

        <div class="nss-intro-image">

            <!-- Swiper -->
            <div class="swiper nssSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/assets/images/college.jpg" alt="">
                    </div>

                </div>
                <div class="swiper-button-next secondBtn"></div>
                <div class="swiper-button-prev secondBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="nss-quote">
            <h2>The Motto</h2>
            <p>Our motto, 'Not Me, But You,' embodies the essence of selfless service and the power of collective
                action. It reminds us that our greatest achievements come from prioritizing the welfare of others,
                fostering inclusivity, and cultivating a culture of giving back. Each small act of kindness contributes
                to a larger, transformative impact on society.</p>
            <p>We believe that true education transcends academics; it involves nurturing empathy, leadership, and a
                strong sense of duty towards others. Our NSS volunteers exemplify this spirit, working diligently to
                uplift the marginalized, protect our environment, and promote social harmony.</p>
            <p>Together, we are more than a unit; we are a movement dedicated to making a meaningful difference. We
                invite our entire community to join us in dreaming, serving, and building a brighter, more equitable
                world for all.</p>
        </div>

        <div class="nss-pic">
            <div class="nss-pic-box">
                <img src="/assets/images/nssTreePlantation.jpg" alt="">
                <p>Tree planataion program on Republic day outside the campus to increase green and fight against global
                    worming<br>
                    SAVE GREEN SAVE EARTH
                </p>
            </div>
            <div class="nss-pic-box">
                <img src="/assets/images/nssRedCross.jpg" alt="">
                <p>AOT and the Indian Red Cross Society, Chandannagar signed a Memorandum of Understanding on May 11,
                    2024 to foster collaboration.</p>
            </div>
            <div class="nss-pic-box">
                <img src="/assets/images/nssTreePlantation.jpg" alt="">
                <p>Tree planataion program on Republic day outside the campus to increase green and fight against global
                    worming<br>
                    SAVE GREEN SAVE EARTH
                </p>
            </div>
            <div class="nss-pic-box">
                <img src="/assets/images/nssRedCross.jpg" alt="">
                <p>AOT and the Indian Red Cross Society, Chandannagar signed a Memorandum of Understanding on May 11,
                    2024 to foster collaboration.</p>
            </div>

        </div>

        <div class="nss-coordinator">
            <div class="coordinator-container">
                <h3>Faculty Coordinator</h3>
                <div class="coordinator">
                    <p>Anik Dutta</p>
                    <p>Assiciate Professor, Department of Chemistry</p>
                    <p>Email id: AnikDutta@aot.edu.in</p>
                    <p>Contact no: 9826483498</p>
                </div>
            </div>

            <div class="coordinator-container">
                <h3>Student Coordinator</h3>
                <div class="student-coordinator-box">
                    <div class="coordinator">
                        <p>Riya Sen</p>
                        <p>B Tech. IV year, CSE</p>
                        <p>Email id: riyasen@gmail.com</p>
                        <p>Contact no: 9834653985</p>
                    </div>
                    <div class="coordinator">
                        <p>Sourav Banerjee</p>
                        <p>B Tech. III year, ECE</p>
                        <p>Email id: sourav@gmail.com</p>
                        <p>Contact no: 8496852938</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="nss-activity-list">
            <h2>Our Past NSS Activity list: </h2>
            <ul>
                <li>Intercollege quiz on Global warming </li>
                <li>Rural reporting on neighbour villege</li>
                <li>Republic Day celebration with 3 other schools</p>
                <li>Independent day celebration ( Shelfi with Tiranga )</li>
                <li>Motivational talk: National Youth Day: 8 Jan 2020</li>
                <li>National Youth Day - 12 January 2021</li>
                <li>Netaji's birthday celebration (23th January)</li>
                <li>NSS Yoga and Cleaning Drive 2020: 26 Feb, 2020</li>
                <li>Eye Check up camp at adopted village Dantli: 3 March 2019</li>
                <li>International Woman's day 8 March</li>
                <li>Free Covid 19 Vaccination Camp - 9 April 2021</li>
                <li>Blood Donation camp: 1 October 2018</li>
                <li>Child right week: plegde taking 14 November 2020</li>
                <li>Free Medical Camp at Adopted Village: Adisaptagram, Hoogly 5 March 2019</li>
            </ul>
        </div>








        <footer>
            <div class="footerContainer">
                <div class="footerTalk">
                    <p>Follow us on</p>
                </div>
                <div class="footerSocialMediaLinks">
                    <a href="https://www.facebook.com/www.aot.edu.in/" title="Visit AOT Facebook Page">
                        <img src="/assets/images/facebook_Logo.webp" alt="">
                    </a>
                    <a href="https://www.instagram.com/aotconnect/?igsh=MWhhcDJuY2ZqeWg1OA%3D%3D"
                        title="Visit AOT Instagram Page">
                        <img src="/assets/images/instagram_Logo.webp" alt="">
                    </a>
                    <a href="https://www.youtube.com/channel/UC1lroAhlIz6Reni_I2dpaHA" title="Visit AOT YouTube Page">
                        <img src="/assets/images/youtube_Logo.webp" alt="">
                    </a>
                    <a href="https://www.linkedin.com/school/academy-of-technology/" title="Visit AOT Linkedin Page">
                        <img src="/assets/images/linkedin_Logo.webp" alt="">
                    </a>
                </div>
                <div class="footerTalk">
                    <p>Copyright &copy 2024 all rights reserved</p>
                </div>
            </div>
        </footer>

    </main>
    <script src="/javaScripts/chatbot.js"></script>
    <script src="/javaScripts/scrollToTop.js"></script>
    <script src="/javaScripts/userOnOff.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".nssSwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            speed: 500,
            autoplay: {
                delay: 2500,
                // disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

    </script>

</body>

</html>