<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/basicStyles.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/chatbot.css">

</head>

<body>
    <!-- Chatbot Icon -->
    <!-- <div id="chatbot-icon" class="icon">
        <img width="50" height="50" src="https://img.icons8.com/3d-fluency/94/chatbot.png" alt="chatbot" />
    </div> -->

    <!-- Chatbot Window -->
    <!-- <div class="chat-container hidden">
        <div class="chat-header">
            <div id="back-icon" class="icon">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/multiply.png"
                    alt="multiply" />
            </div>
            <h2>AOT Assist</h2> -->
            <!-- <button id="clear-chat">Clear Chat</button> -->
            <!-- <img id="clear-chat" width="35" height="35" src="https://img.icons8.com/ultraviolet/40/refresh--v1.png"
                alt="refresh--v1" />
        </div>
        <div id="chatbox" class="chatbox"></div>
        <div class="input-container">
            <input type="text" id="input" placeholder="Type a message...">
            <button id="send">Send</button>
        </div>
    </div> -->
    <!-- chatbot window end here -->
    <div class="onOrOff">
        <img src="/assets/images/icons8-no-connection.gif" alt="./assets/images/icons8-no-connection.gif">
        <img src="/assets/images/icons8-online.gif" alt="./assets/images/icons8-online.gif">
        <p>We are online</p>
    </div>
    <header id="destination">
        <div class="banner">
            <div class="left">
                <img src="/assets/images/aot-logo.webp" alt="Error" loading="lazy">
            </div>
            <div class="middle">
                <h1>ACADEMY OF TECHNOLOGY</h1>
                <span>...translate your vision into reality</span>
            </div>
        </div>

    </header>
    <main>
        <div class="response beforeIntro">
            <img src="/assets/video/icons8-home.gif" alt="Return" decoding="async" class="back-btn">
            <p id="res"></p>
        </div>
        <section class="main">

        </section>
        <!-- <div class="card">
            <h2><a href="">Link</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, tempore ullam. Totam quidem explicabo aliquid itaque voluptas soluta corrupti cumque earum temporibus, veritatis, facere vitae error beatae. Voluptate, quaerat porro!</p>
        </div> -->
        <!-- <div class="fail">
            <span>No Result is Found : </span>
            <span>lorem</span>
        </div> -->
    </main>
    <!-- <script src="/javaScripts/chatbot.js"></script> -->
    <script src="/javaScripts/search.js">
    </script>
    <script src="/javaScripts/userOnOff.js"></script>
    <!-- <script src="/javaScripts/scrollToTop.js"></script> -->
    <script src="https://widget.cxgenie.ai/widget.js" data-aid="c78b9b22-6bc1-4025-b9fe-6387f69a16bd"></script>
</body>

</html>