<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/basicStyles.css">
    <link rel="stylesheet" href="/styles/footerStyle.css">
    <link rel="stylesheet" href="/styles/headerStyle.css">
    <link rel="stylesheet" href="/styles/staff.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/bannerResponse.css">
    <link rel="stylesheet" href="/styles/chatbot.css">
    <title>Staff Profile</title>

</head>

<body>
    <!-- Chatbot Icon -->
    <!-- <div id="chatbot-icon" class="icon">
        <img width="50" height="50" src="https://img.icons8.com/3d-fluency/94/chatbot.png" alt="chatbot" />
    </div> -->

    <!-- Chatbot Window -->
    <!-- <div class="chat-container hidden">
        <div class="chat-header">
            <div id="back-icon" class="icon">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/multiply.png"
                    alt="multiply" />
            </div>
            <h2>AOT Assist</h2> -->
            <!-- <button id="clear-chat">Clear Chat</button> -->
            <!-- <img id="clear-chat" width="35" height="35" src="https://img.icons8.com/ultraviolet/40/refresh--v1.png"
                alt="refresh--v1" />
        </div>
        <div id="chatbox" class="chatbox"></div>
        <div class="input-container">
            <input type="text" id="input" placeholder="Type a message...">
            <button id="send">Send</button>
        </div>
    </div> -->
    <!-- chatbot window end here -->
    <div class="onOrOff">
        <img src="/assets/images/icons8-no-connection.gif" alt="./assets/images/icons8-no-connection.gif">
        <img src="/assets/images/icons8-online.gif" alt="./assets/images/icons8-online.gif">
        <p>We are online</p>
    </div>
    <header>
        <div class="hamberg-menu">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
        <div class="banner">
            <div class="left">
                <img src="/assets/images/aot-logo.webp" loading="lazy" alt="Error">
            </div>
            <div class="middle">
                <h1>ACADEMY OF TECHNOLOGY</h1>
                <span>...translate your vision into reality</span>
            </div>
        </div>

    </header>
    <hr>
    <main>
        <div class="section__title">
            <div class="logo">
                <a href="/"><img width="32" height="32" src="https://img.icons8.com/windows/32/home.png"
                        alt="home" /></a>
            </div>
            <h1 id="heading">AOT Staff Members</h1>
        </div>

        <br>
        <div class="member">
            <table class="tbl">
                <thead>
                    <tr>
                        <th>Name of the Faculty</th>
                        <th>Designation</th>
                        <th>Highest Qualification</th>
                        <th>Experience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nupur Chhaule</td>
                        <td>Assistant Professor</td>
                        <td>M.Tech</td>
                        <td>12 yrs 7 mts</td>
                    </tr>
                    <tr>
                        <td>Suman Bhattacharya</td>
                        <td>Assistant Professor</td>
                        <td>M.Tech</td>
                        <td>14 yrs 8 mts</td>
                    </tr>
                    <tr>
                        <td>Arindrajit Pal</td>
                        <td>Associate Professor</td>
                        <td>Ph.D</td>
                        <td>18 yrs 7 mts</td>
                    </tr>
                    <tr>
                        <td>K.M.Priti</td>
                        <td>Assistant Professor</td>
                        <td>MCA</td>
                        <td>4 yrs 4 mts</td>
                    </tr>
                    <tr>
                        <td>Sarjita Soo</td>
                        <td>Assistant Professor</td>
                        <td>MCA, M.Tech</td>
                        <td>4 yrs</td>
                    </tr>
                    <tr>
                        <td>Shaoli Mukherjee</td>
                        <td>Assistant Professor</td>
                        <td>MBA</td>
                        <td>3 yrs 2 mts</td>
                    </tr>
                    <tr>
                        <td>Subir Panja</td>
                        <td>Associate Professor</td>
                        <td>Ph.D</td>
                        <td>14 yrs</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerTalk">
                <p>Follow us on</p>
            </div>
            <div class="footerSocialMediaLinks">
                <a href="https://www.facebook.com/www.aot.edu.in/" title="Visit AOT Facebook Page">
                    <img src="/assets/images/facebook_Logo.webp" alt="">
                </a>
                <a href="https://www.instagram.com/aotconnect/?igsh=MWhhcDJuY2ZqeWg1OA%3D%3D"
                    title="Visit AOT Instagram Page">
                    <img src="/assets/images/instagram_Logo.webp" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UC1lroAhlIz6Reni_I2dpaHA" title="Visit AOT YouTube Page">
                    <img src="/assets/images/youtube_Logo.webp" alt="">
                </a>
                <a href="https://www.linkedin.com/school/academy-of-technology/" title="Visit AOT Linkedin Page">
                    <img src="/assets/images/linkedin_Logo.webp" alt="">
                </a>
            </div>
            <div class="footerTalk">
                <p>Copyright &copy 2024 all rights reserved</p>
            </div>
        </div>
    </footer>

    <!-- <script src="/javaScripts/chatbot.js"></script> -->
    <script src="/javaScripts/userOnOff.js"></script>
    <script src="https://widget.cxgenie.ai/widget.js" data-aid="c78b9b22-6bc1-4025-b9fe-6387f69a16bd"></script>
</body>

</html>