<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="preload" href="/assets/images/aot-logo.jpg" as="image">
    <link rel="stylesheet" href="/styles/studentLogin.css">
</head>

<body>
    <img src="/assets/images/aot-logo.jpg" alt="AOT" loading=" eager" decoding="async">
    <div class="login-container">
        <h2>Login</h2>
        <%- include("./partials/message") -%>
            <form id="login-form" action="/studentPortal/studentlogin" method="POST">
                <div class="form-group">
                    <label for="roll">Roll Number:</label>
                    <input type="number" id="roll" name="roll" placeholder="Enter your roll number" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" id="submit">Login</button>
            </form>
            <div class="section">
                <a href="/studentPortal/studentsignup">
                    <button>Sign Up</button>
                </a>
                <a href="/studentPortal/studentlogin/forgetPassword">
                    <button>
                        Forget Password?
                    </button>
                </a>
            </div>
    </div>
    <script src="https://widget.cxgenie.ai/widget.js" data-aid="c78b9b22-6bc1-4025-b9fe-6387f69a16bd"></script>
</body>

</html>