<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation Sent</title>
    <link rel="stylesheet" href="/styles/signUpConfirmation.css">
</head>

<body>
    <div class="container">
        <img src="/assets/video/icons8-correct.gif" alt="Email Sent" decoding="async">
        <h1>Confirmation Email Sent</h1>
        <p>We've sent a confirmation to your college mail. Please check your inbox and follow the instructions to
            complete your signup.</p>
        <p>If you didn't receive the email, check your spam folder or re-register.</p>
    </div>
</body>

</html>