@import url('../styles/basicStyles.css');

form{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--aot-light-color--);
    border-radius: 10px;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    gap: 1rem;
}

.info{
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}

input{
    width: 250px;
}

label{
    text-align: start;
    color: var(--aot-dark-color--);
    font-weight: bold;
}

.bt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    background-color: var(--aot-color--);
    color: #fff;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
}

#btn:hover{
    cursor: pointer;
    background-color: var(--aot-dark-color--);
}

#heading{
    text-align: center;
    font-size: 1.7rem;
}

.section__title {
    position: relative;
    padding: 0.3em;
    min-width: 100%;
    margin-top: 1rem;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #e5e4e2;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (min-width:700px){
    .info{
        width: 600px;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        border-radius: 5px;
    }
    label{
        width: 300px;
    }
    form{
        width: 650px;
    }
}