@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    text-size-adjust: none;
}

body {
    height: 100dvh;
    width: 100%;
}

:root {
    --button-radius--: 5px;
    --aot-color--: #232C69;
    --aot-dark-color--: #161c43;
    --aot-light-color--: #f1f5f9;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--aot-color--);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--aot-dark-color--)
}