@import url('./basicStyles.css');
@import url('./headerStyle.css');
@import url('./headerResponsive.css');


body {

    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

.btn {
    position: fixed;
    z-index: 5;
    padding: 0.5em;
    margin: 0.5em;
    bottom: 2rem;
    right: 2rem;
    border-radius: 8px;
    background: var(--aot-color--);
    outline: none;
    border: none;
    cursor: pointer;

}

.btn a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.btn:hover {
    background: var(--aot-dark-color--);
}

.section {
    max-width: 100%;
    background-color: #f8f8ff;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.section__title {
    padding: 0.3em;
    min-width: 100%;
    margin-top: 1rem;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section__title h1 {
    background: var(--aot-color--);
}

.section__items {
    padding: 2em;
    /* border: 1px solid red; */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    overflow: hidden;
}

.item {
    border: #f8f8ff;
    padding: 1em;
    background: var(--aot-light-color--);
    width: 300px;
    height: 280px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 5px 2px 5px rgba(241, 245, 249, 0.5); */
    transition: all 0.4s;
}

.item:hover {
    background: var(--aot-color--);
    color: #fff;
    box-shadow: -5px 7px 5px 5px rgba(35, 44, 105, 0.5);
    transform: translate(5px, -10px);
}


.item__title {
    position: relative;
    bottom: 3em;
    font-size: large;
}

/* 746 */
@media only screen and (max-width: 746px) {
    .section {
        gap: 16px;
    }

    .section__items {
        padding: 1.8em;
        gap: 2.6rem;
    }

    .section__title {
        font-size: 0.8rem;
    }

}

/* 490 */
@media only screen and (max-width: 490px) {

    .section {
        gap: 12px;
    }

    .section__items {
        padding: 1.5em;
        gap: 2.2rem;
    }

    .item {
        width: 260px;
        height: 220px;
    }

    .item__title {
        position: relative;
        bottom: 2.2em;
        font-size: medium;
    }

    .section__title {
        font-size: 0.8rem;
    }

    .btn {
        right: 1.6rem;

    }

}

/* 362 */
@media only screen and (max-width: 362px) {
    .section {
        gap: 10px;
    }

    .section__items {
        padding: 1.3em;
        gap: 2rem;
    }

    .item {
        width: 240px;
        height: 200px;
    }

    .section__title {
        font-size: 0.6rem;
    }

    .btn {
        right: 1.3rem;

    }

}

/* https://www.eggradients.com/shades-of-white */