@import url('./basicStyles.css');
@import url('./headerStyle.css');

body {

    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}


.section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.section__title {
    position: relative;
    padding: 0.3em;
    min-width: 100%;
    margin-top: 1rem;
    background: var(--aot-color--);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo {
    position: absolute;
    margin: 0;
    padding: 0.55em;
    width: 70px;
    background-color: #e5e4e2;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .logo img {
    max-width: 80%;
} */

.section__title h1 {
    background: var(--aot-color--);
}

.section__items {
    padding: 2em;
    /* border: 1px solid red; */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    overflow: hidden;
}

.item {
    border: #f8f8ff;
    padding: 1em;
    background: var(--aot-light-color--);
    width: 300px;
    height: 280px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 5px 2px 5px rgba(241, 245, 249, 0.5); */
    transition: all 0.4s;
}

.item:hover {
    background: var(--aot-color--);
    color: #fff;
    box-shadow: -5px 7px 5px 5px rgba(35, 44, 105, 0.5);
    transform: translate(5px, -10px);
}


.item__title {
    position: relative;
    bottom: 3em;
    font-size: large;
    /* border: 1px solid red; */
}

/* .item__details {
    border: 1px solid red;
} */

/* 746 */
@media only screen and (max-width: 746px) {
    .section {
        gap: 16px;
    }

    .section__items {
        padding: 1.8em;
        gap: 2.6rem;
    }

    .section__title {
        font-size: 0.8rem;
    }

    .logo {
        width: 60px;
    }

    .logo img {
        width: 28px;
        height: 28px;
    }

}

/* 490 */
@media only screen and (max-width: 490px) {

    .section {
        gap: 12px;
    }

    .section__items {
        padding: 1.5em;
        gap: 2.2rem;
    }

    /* .item {
        width: 260px;
        height: 220px;
    } */

    .item__title {
        position: relative;
        bottom: 2.2em;
        font-size: medium;
    }

    .section__title {
        font-size: 0.8rem;
    }

    .btn {
        right: 1.6rem;

    }

    .logo {
        width: 50px;
    }

    .logo img {
        width: 24px;
        height: 24px;
    }

}

/* 362 */
@media only screen and (max-width: 362px) {
    .section {
        gap: 10px;
    }

    .section__items {
        padding: 1.3em;
        gap: 2rem;
    }

    .item {
        width: 240px;
        height: 200px;
    }

    .section__title {
        font-size: 0.6rem;
    }

    .btn {
        right: 1.3rem;

    }

    .logo {
        width: 40px;
    }

    .logo img {
        width: 22px;
        height: 22px;
    }

}

/* https://www.eggradients.com/shades-of-white */