@import url(./basicStyles.css);

.basic-intro{
    padding: 1em 1.5em;
}

.basic-intro :last-child{
    text-align: center;
    font-size: 1.2rem;
}

.curriculam-content{
    padding: 1em 1.5em;
}
.sub-count{
    padding: 0px 7px;
}










@media only screen and (max-width:600px) {
    .basic-intro, curriculam-content{
        padding: 1em ;
    }
}