@import url('./basicStyles.css');
*{
    overflow-x: hidden;
}
.sec1{
    /* background-color: aqua;     */
    display: grid;
    padding: 1rem;
    /* grid-template-columns: 2; */
    grid-template-areas: 
    'news news notice'
    'event event notice'
    'map map notice';
    grid-gap: 1rem;
    
}

.news{
    padding: 1rem;
    grid-area: news;
    /* background-color: aquamarine; */
    border: 2px solid var(--aot-color--);
    border-radius: 5px;
    color: var(--aot-dark-color--);
    
}
p,h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event{
    padding: 1rem;
    grid-area: event;
    /* background-color: beige; */
    border: 2px solid var(--aot-color--);
    border-radius: 5px;
}
.map{
    padding: 1rem;
    grid-area: map;
    /* background-color: blue; */
    border: 2px solid var(--aot-color--);
    border-radius: 5px;
}
.notice{
    padding: 1rem;
    grid-area: notice;
    /* background-color: yellowgreen; */
    border: 2px solid var(--aot-color--);
    border-radius: 5px;
}

@media  (max-width:500px) {
    .sec1{
        /* background-color: aqua;     */
        display: grid;
        padding: 1rem;
        /* grid-template-columns: 2; */
        grid-template-areas: 
        'news notice'
        'event notice'
        'map notice';
        grid-gap: 1rem;
    }
}

@media (max-width:700px) {
    .sec1{
        /* background-color: aqua;     */
        display: grid;
        padding: 1rem;
        /* grid-template-columns: 2; */
        grid-template-areas: 
        'news' 
        'event'
        'notice'
        'map';
        grid-gap: 1rem;
    }
}