@import url('./basicStyles.css');

.sec1 {
    display: grid;
    padding: 1rem;
    grid-template-areas:
        'news news notice'
        'event event notice'
        'map map notice';
    grid-gap: 1rem;
    margin-top: -1rem;
}

.news {
    padding: 1rem;
    grid-area: news;
    box-shadow: var(--normal-shadow--);
    border-radius: 8px;
    color: var(--aot-dark-color--);
    background-color: var(--aot-light-color--);
}


.event {
    padding: 1rem;
    grid-area: event;
    box-shadow: var(--normal-shadow--);
    border-radius: 8px;
    background-color: var(--aot-light-color--);
}

.map {
    padding: 1rem;
    grid-area: map;
    box-shadow: var(--normal-shadow--);
    border-radius: 8px;
    background-color: var(--aot-light-color--);
}

.notice {
    padding: 1rem;
    grid-area: notice;
    box-shadow: var(--normal-shadow--);
    border-radius: 8px;
    background-color: var(--aot-light-color--);
}

.parent-nav>ul li {
    width: 100%;

}

.parent-nav>ul>* {
    border-bottom: 1px dotted gray;
}

.go-to-home a {
    width: 100%;
    height: 100%;
}

.navbar-innerlist {
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar-innerlist a {
    display: block;
}

.map,
.first {
    background-color: var(--aot-light-color--);
    box-shadow: var(--normal-shadow--);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.map h2,
.news h2,
.event h2,
.notice h2,
.first h2 {
    color: var(--aot-color--);
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.map iframe {
    width: 80%;
    height: 20rem;
}

.map p {
    width: 80%;
    text-wrap: pretty;
    text-align: center;
    padding: 1rem;
}

.map p span {
    user-select: text;
}

nav>ul>li>div {
    width: 100%;
    height: 100%;
}

nav>ul>li>div>a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    padding: 1rem 2rem;
}

.firstContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-right: 1rem;
    max-width: 70rem;
}

.first .departmentBox {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 1.2rem;
    height: 20rem;
    animation: rotation 2s ease infinite;
}

@keyframes rotation {
    0% {
        border-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    50% {
        border-radius: 0;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    100% {
        border-radius: 0;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

.first .departmentBox>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first .departmentBox>.top {
    padding: 1rem;
    height: 6rem;
    transition: all 0.8s ease;
    position: relative;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.first .departmentBox>.top>span {
    height: max-content;
    width: max-content;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 5;
    color: white;
    font-size: 1.1rem;
}

.first .departmentBox>.top>.back {
    height: 200%;
    width: 200%;
    position: absolute;
    top: -100%;
    left: -50%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transform: rotate(-5deg);
}

.first .departmentBox>.details {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: all 0.8s ease;
    scale: 0;
    /* border-radius: 50%; */
}

.first .departmentBox>.details>span {
    color: white;
    padding: 1rem;
    font-weight: normal;
}

.first .departmentBox>.details a:first-child {
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.first .departmentBox>.details a:last-child button {
    padding: 0.3rem 1.2rem;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: var(--aot-color--);
    border: none;
    outline: none;
    border-radius: 3px;
}

.first .departmentBox>.details a:last-child button:hover {
    cursor: pointer;
}

.first .departmentBox>.details a:last-child button:active {
    background-color: rgb(177, 177, 177);
}

.first .departmentBox:hover .details {
    scale: 1;
}

.first .departmentBox:hover .top {
    transform: translateY(-150%);
}

.notice>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aot-color--);
}

.notice>h2>img {
    width: 1.5rem;
    margin: 0 0.3rem;
}

.notice>.content {
    width: 100%;
    height: 90%;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    overflow: auto;
}

.notice>.content>.sub-content {
    overflow: auto;
}

.sub-content>div {
    text-wrap: pretty;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1rem;
    line-height: 1.5rem;
}

.updateBox a:hover {
    text-decoration: underline;
    color: purple;
}

.updateBox p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateBox a p img {
    margin-left: 0.5rem;
}

.notice .content .sub-content .updateBox a {
    font-size: 1rem;
}

@media only screen and (max-width:737px) {
    .firstContainer {
        grid-template-columns: auto;
        gap: 0;
    }
}

@media only screen and (min-width:1077px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        z-index: 50;
        position: sticky;
        background-color: white;
        top: 0;
        z-index: 100;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .parent-nav2 a {
        padding-right: 5.5rem;
    }

    .parent-nav2 img {
        margin-left: 0.5rem;
        width: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav2 ul>li>a {
        display: block;
    }

    .parentGoback {
        display: none;
    }

    nav .search {
        position: relative;
        width: 100%;
        align-self: flex-start;
        margin: 0.5rem 0 1rem 0;
    }

    nav .search input {
        outline: none;
        font-size: medium;
        border-radius: 20px;
        width: 100%;
        border: 1px solid gray;
        padding: 0.5rem 1rem;
        padding-right: 3rem;
    }

    nav .search img {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    nav .search {
        display: none;
    }

    nav ul {
        width: 100%;
        list-style: none;
        cursor: pointer;
        position: relative;
    }

    nav>ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3.5rem;
        z-index: 60;
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.08);
    }

    .parent-nav,
    .go-to-home {
        width: 24%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .parent-nav>ul,
    .parent-nav2>ul {
        border-top: 3px solid var(--aot-color--);
        flex-direction: column;
        position: absolute;
        top: 100%;
        box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.122);
        background-color: var(--aot-light-color--);
    }

    .parent-nav>ul {
        width: 100%;
    }

    .parent-nav2>ul {
        width: max-content;
        min-width: 10rem;
    }

    .parent-nav>ul>li,
    .parent-nav2>ul>li {
        position: relative;
        padding: 0.5rem 1rem;
        background-color: var(--aot-light-color--);
    }

    .parent-nav2>ul {
        position: absolute;
        left: 100%;
        top: 0%;
    }

    .parent-nav>.section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parent-nav2>.section {
        align-items: center;
        display: flex;
    }

    .section p {
        margin-right: 0.5rem;
    }

    .parent-nav .section p {
        text-align: center;
    }

    .parent-nav .section img {
        transform: rotate(90deg);
        width: 0.8rem;
        aspect-ratio: 1;
        transition: all 0.3s ease;
    }

    .parent-nav2>.section img {
        transition: all 0.3s ease;
        transform: rotate(0deg);
    }

}

@media only screen and (max-width:956px) {
    .map iframe {
        width: 100%;
    }
}

@media only screen and (max-width:1077px) {
    main {
        position: relative;
    }

    .hamberg-menu {
        display: flex;
    }

    main nav {
        overflow-y: scroll;
        background-color: white;
        box-shadow: -5px 0 15px 5px rgba(0, 0, 0, 0.246);
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        min-width: max-content;
        height: 100%;
        z-index: 100;
        padding: 1rem 2rem;
        transition: all 0.5s ease;
    }

    nav>ul>li>div>a {
        justify-content: flex-start;
    }

    .parent-nav>ul>li,
    .parent-nav2>ul>li,
    .parent-nav>.section,
    .go-to-home>.section {
        border-bottom: 1px dotted gray;
    }

    .parentGoback {
        display: flex;
        flex-direction: column;
    }

    .goback {
        color: white;
        display: flex;
        align-items: center;
        background-color: var(--aot-color--);
        border-radius: 8px;
        width: fit-content;
        padding: 0.5rem 1rem;
        padding-right: 2rem;
        margin: 1rem 0 1rem 0;
    }

    .goback:hover {
        cursor: pointer;
    }

    .goback img {
        margin-right: 0.5rem;
        filter: invert(100%);
        transform: rotate(180deg);
        width: 1rem;
    }

    .parentGoback .search {
        width: 100%;
        position: relative;
    }

    .parentGoback .search input {
        font-size: medium;
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        outline: none;
        border: 1px solid gray;
    }

    .parentGoback .search img {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
    }

    nav ul {
        list-style: none;
        padding: 1rem 0;
    }

    .go-to-home a {
        display: flex;
    }


    nav ul .parent-nav,
    .go-to-home {
        height: fit-content;
        position: relative;
    }

    nav ul .parent-nav>.section,
    .go-to-home .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #cbe5ff;
        margin: 1rem 0;
        font-size: medium;
        width: 100%;
        padding: 0.6rem 1rem;
        border-radius: 20px;
    }

    nav ul .parent-nav>.section img {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav>ul>li {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: var(--aot-light-color--);
        /* border: 1px solid gray; */
        border-radius: 20px;
        margin: 0.5rem 0;
    }

    .parent-nav2 {
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }

    .parent-nav2 .section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
    }

    .parent-nav>ul>li img {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav2 ul {
        padding-top: 2rem;
    }

    .parent-nav2 ul li {
        background-color: white;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
    }

    .parent-nav ul {
        margin: -1rem 0;
        margin-top: -2rem;
    }

    nav ul li a {
        width: 100%;
        text-decoration: none;
        color: black;
    }

    .parent-nav .section img {
        transform: rotate(90deg);
        width: 0.8rem;
        aspect-ratio: 1;
        transition: all 0.3s ease;
    }

    .parent-nav2>.section img {
        transition: all 0.3s ease;
        transform: rotate(90deg);
    }
}

@media (max-width:500px) {
    .sec1 {
        display: grid;
        padding: 1rem;
        grid-template-areas:
            'news notice'
            'event notice'
            'map notice';
    }
}

@media only screen and (max-width:985px) {
    .firstContainer {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:902px) {
    .banner .right {
        display: none;
    }

    .banner {
        flex-direction: column;
        padding-top: 0;
    }
}

@media only screen and (max-width:682px) {

    .sec1 h2,
    .first>h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:736px) {
    .firstContainer {
        grid-template-columns: auto;
    }

    .first .departmentBox {
        width: 100%;
        aspect-ratio: 1;
        height: 18rem;
        margin: 0.25rem;
    }

    .sec1 {
        display: grid;
        padding: 1rem;
        grid-template-areas:
            'news'
            'event'
            'notice'
            'map';
    }
}

@media only screen and (max-width:630px) {
    .sec1 {
        padding: 1rem 0;
    }

    .sec1>div {
        border-radius: 0;
    }

    .first h2 {
        padding-left: 1rem;
    }

    .first {
        margin: 1rem 0;
        margin-top: 2rem;
        border-radius: 0;
        padding: 1rem 0;
    }

    .firstContainer {
        /* padding: 0; */
        padding: 1rem;
        padding-top: 0;
    }

    .firstContainer .departmentBox {
        margin: 0.25rem 0;
        /* width: 100%; */
    }
}

@media only screen and (max-width:750px) {
    .banner {
        margin: 1rem 0;
        margin-top: 2rem;
    }
}

@media only screen and (max-width:658px) {
    .banner .left img {
        width: 6rem;
    }

    .banner .middle h1 {
        font-size: 1.95rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width:394px) {

    .sec1>div p,
    .sec1>div span {
        font-size: 0.9rem;
    }
}