@import url('./basicStyles.css');

h1{
    text-align: center;
    color: var(--aot-dark-color--);
    font-size: 1.7rem;
}

h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.5rem;
}

p{
    color: var(--aot-dark-color--);
    font-size: 1rem
}

span{
    padding: 1rem;
    text-align: justify;
}

.para{
    display: flex;
    flex-direction: column;
}

.info{
    margin: 0.5rem;
    padding: 1rem;
    background-color: var(--aot-light-color--);
    border-radius: 5px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.15);
}

ul{
    padding: 1rem;
}