@import url('./basicStyles.css');

body {
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.loadingPage {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 200;
    transition: all 1s;
    color: white;
    font-size: 5rem;
}

.loadingPage img {
    transition: all 1s;
    filter: invert(100%);
    transform: translateX(-5%);
}


@media only screen and (min-width:630px) {
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style: none;
        z-index: 50;
        position: sticky;
        background-color: white;
        top: 0;
        z-index: 100;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .parent-nav2 a {
        padding-right: 5.5rem;
    }

    .parent-nav2 img {
        margin-left: 0.5rem;
        width: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav2 ul>li>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parentGoback {
        display: none;
    }

    nav .search {
        position: relative;
        width: 100%;
        align-self: flex-start;
        margin: 0.5rem 0 1rem 0;
    }

    nav .search input {
        outline: none;
        font-size: medium;
        border-radius: 20px;
        width: 100%;
        border: 1px solid gray;
        padding: 0.5rem 1rem;
        padding-right: 3rem;
    }

    nav .search img {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    nav .search {
        display: none;
    }

    nav ul {
        width: 100%;
        list-style: none;
        cursor: pointer;
        position: relative;
    }

    nav>ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 3.5rem;
        z-index: 60;
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.08);
    }

    .parent-nav {
        width: 24%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .parent-nav>ul,
    .parent-nav2>ul {
        border-top: 3px solid var(--aot-color--);
        flex-direction: column;
        position: absolute;
        top: 100%;
        box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.122);
        background-color: var(--aot-light-color--);
    }

    .parent-nav>ul {
        width: 100%;
    }

    .parent-nav2>ul {
        width: max-content;
        min-width: 10rem;
    }

    .parent-nav>ul>li,
    .parent-nav2>ul>li {
        position: relative;
        padding: 0.5rem 1rem;
        background-color: var(--aot-light-color--);
    }

    .parent-nav2>ul {
        position: absolute;
        left: 100%;
        top: 50%;
    }

    .parent-nav>.section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parent-nav2>.section {
        align-items: center;
        display: flex;
    }

    .section p {
        margin-right: 0.5rem;
    }

    .parent-nav .section img {
        transform: rotate(90deg);
        width: 0.8rem;
        aspect-ratio: 1;
        transition: all 0.3s ease;
    }

    .parent-nav2>.section img {
        transition: all 0.3s ease;
        transform: rotate(0deg);
    }

}

@media only screen and (max-width:630px) {
    main {
        position: relative;
    }

    .parent-nav>ul>li,
    .parent-nav2>ul>li,
    .parent-nav>.section {
        border-bottom: 1px dotted gray;
    }

    main nav {
        overflow-y: scroll;
        background-color: white;
        box-shadow: -5px 0 15px 5px rgba(0, 0, 0, 0.246);
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        min-width: max-content;
        height: 100%;
        z-index: 100;
        padding: 1rem 2rem;
        transition: all 0.5s ease;
    }

    .parentGoback {
        display: flex;
        flex-direction: column;
    }

    .goback {
        color: white;
        display: flex;
        align-items: center;
        background-color: var(--aot-color--);
        border-radius: 8px;
        width: 40%;
        padding: 0.5rem 1rem;
        margin: 1rem 0 1rem 0;
    }

    .goback:hover {
        cursor: pointer;
    }

    .goback img {
        margin-right: 0.5rem;
        filter: invert(100%);
        transform: rotate(180deg);
        width: 1rem;
    }

    .parentGoback .search {
        width: 100%;
        position: relative;
    }

    .parentGoback .search input {
        /* font-size: medium; */
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        outline: none;
        border: 1px solid gray;
    }

    .parentGoback .search img {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
    }

    nav ul {
        list-style: none;
        padding: 1rem 0;
    }

    nav ul .parent-nav {
        height: fit-content;
        position: relative;
    }

    nav ul .parent-nav>.section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #cbe5ff;
        margin: 1rem 0;
        /* font-size: medium; */
        width: 100%;
        padding: 0.6rem 1rem;
        border-radius: 20px;
    }

    nav ul .parent-nav>.section img {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav>ul>li {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color: var(--aot-light-color--);
        /* border: 1px solid gray; */
        border-radius: 20px;
        margin: 0.5rem 0;
    }

    .parent-nav2 {
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }

    .parent-nav2 .section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
    }

    .parent-nav>ul>li img {
        width: 1rem;
        height: 1rem;
        aspect-ratio: 1;
    }

    .parent-nav2 ul {
        padding-top: 2rem;
        /* background-color: aqua; */
    }

    .parent-nav2 ul li {
        background-color: white;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
    }

    .parent-nav ul {
        margin-top: -10%;
    }

    nav ul li a {
        width: 100%;
        text-decoration: none;
        color: black;
        /* background-color: aqua; */
    }

    .parent-nav .section img {
        transform: rotate(90deg);
        width: 0.8rem;
        aspect-ratio: 1;
        transition: all 0.3s ease;
    }

    .parent-nav2>.section img {
        transition: all 0.3s ease;
        transform: rotate(90deg);
    }
}


main>.content {
    margin: 2rem 0;
    padding: 0 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 70% auto;
}

main>.content section div a {
    color: black;
    text-decoration: none;
}

main>.content>.first {
    min-height: 500px;
    border-radius: 8px;
    padding: 1rem 3rem;
    background-color: var(--aot-light-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: pretty;
    position: relative;
}

.first {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('../assets/bulletinImage/second.webp');
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.black-cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.559);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(60%);
    z-index: 1;
    overflow: hidden;
}

.newsBox {
    transition: all 0.3s ease;
}

#bulletin {
    color: white;
}

#bulletin h2 {
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 5;
   font-size: 7rem;
    text-wrap: pretty;
    animation: move1 0.6s ease-out forwards;
}

@keyframes move1 {
    0% {
        left: -100%;
        color: transparent;
    }

    100% {
        left: 4%;
        color: white;
    }
}

#bulletin p {
    position: absolute;
    width: 80%;
    height: fit-content;
    bottom: 10%;
    left: 4%;
    z-index: 5;
    font-size: larger;
    line-height: 2.1rem;
    text-align: left;
    text-wrap: pretty;
    animation: move2 0.6s ease-out forwards;
}

@keyframes move2 {
    0% {
        left: 100%;
        color: transparent;
    }

    100% {
        left: 4%;
        color: white;
    }
}

.prev-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.313);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;
}

.next-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.313);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 2;
}

.prev-arrow img,
.next-arrow img {
    width: 2rem;
    aspect-ratio: 1;
}

.prev-arrow img {
    transform: rotate(180deg);
}

.prev-arrow:hover,
.next-arrow:hover {
    cursor: pointer;
}

.prev-arrow:active,
.next-arrow:active {
    background-color: rgba(0, 0, 0, 0.618);
}

.prev-arrow:active img,
.next-arrow:active img {
    filter: invert(100%);
}

main>.content .second {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--aot-light-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

main>.content .second>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aot-color--);
}

main>.content .second>h2>img {
    width: 13%;
    margin: 0 0.3rem;
}

main>.content .second>.content {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #fff;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


main>.content .second>.content .sub-content {
    position: absolute;
    top: 0;
    width: 100%;
}

.sub-content>div {
    text-wrap: pretty;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1rem;
    line-height: 1.5rem;
}

.updateBox a:hover {
    text-decoration: underline;
    color: purple;
}

.seeMore {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(72, 72, 72);
    color: white;
    padding: 0.3rem;
    box-shadow: 0 -5px 50px 5rem rgb(255, 255, 255);
}

.seeMore:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

/*Third section*/
.third>h2 {
    color: var(--aot-color--);
    /* font-size: 2rem; */
}

.third {
    background-color: var(--aot-light-color--);
    border-radius: 8px;
    padding: 2rem;
    margin: 1rem;
    position: relative;
}

.third .about {
    display: flex;
    justify-content: space-between;
}

.third .about .story {
    font-size: 1rem;
    text-wrap: pretty;
    width: 50%;
    text-align: left;
    /* background-color: aqua; */
    margin-right: 2rem;
}

.third .about .video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 50%;
}

.third .about .video iframe {
    width: 100%;
    aspect-ratio: 560/315;
    background: url('../assets/images/sddefault.webp') center;
    background-color: black;
    background-size: cover;
}

.third .about .video img {
    position: absolute;
}

.third .about .video iframe {
    user-select: auto;
}

.third .about .video img:hover,
.third .about .video iframe:hover {
    cursor: pointer;
}

#youtube {
    z-index: 5;
}

#pause {
    z-index: 4;
}