@import url('./basicStyles.css');

body {
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

.loadingPage {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 200;
    transition: all 1s;


    color: white;
    font-size: 5rem;
}

.loadingPage img {
    transition: all 1s;
    filter: invert(100%);
    transform: translateX(-5%);
}

main>.content {
    margin: 2rem 0;
    padding: 0 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 70% auto;
}

main>.content section div a {
    color: black;
    text-decoration: none;
}

main>.content>.first {
    min-height: 500px;
    border-radius: 8px;
    padding: 1rem 3rem;
    background-color: var(--aot-light-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: pretty;
    position: relative;
}

.first {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('../assets/bulletinImage/first.webp');
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.black-cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('../assets/bulletinImage/first.webp')rgba(0, 0, 0, 0.500);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(50%);
    z-index: 1;
    overflow: hidden;
}

.newsBox {
    transition: all 0.3s ease;
}

#bulletin {
    color: white;
}

#bulletin h2 {
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 5;
    font-size: 5rem;
    text-wrap: pretty;
    animation: move1 1s ease forwards;
}

@keyframes move1 {
    0% {
        left: -100%;
        color: transparent;
    }

    100% {
        left: 4%;
        color: white;
    }
}

#bulletin p {
    position: absolute;
    width: 80%;
    height: fit-content;
    bottom: 10%;
    left: 4%;
    z-index: 5;
    font-size: 1.7rem;
    line-height: 2.1rem;
    text-align: left;
    text-wrap: pretty;
    animation: move2 1s ease forwards;
}

@keyframes move2 {
    0% {
        left: 100%;
        color: transparent;
    }

    100% {
        left: 4%;
        color: white;
    }
}

.prev-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.313);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 2;
}

.next-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.313);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: translateY(-50%);
    width: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 2;
}

.prev-arrow img,
.next-arrow img {
    width: 2rem;
    aspect-ratio: 1;
}

.prev-arrow img {
    transform: rotate(180deg);
}

.prev-arrow:hover,
.next-arrow:hover {
    cursor: pointer;
}

.prev-arrow:active,
.next-arrow:active {
    background-color: rgba(0, 0, 0, 0.618);
}

.prev-arrow:active img,
.next-arrow:active img {
    filter: invert(100%);
}

main>.content .second {
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--aot-light-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

main>.content .second>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aot-color--);
}

main>.content .second>h2>img {
    width: 13%;
    margin: 0 0.3rem;
}

main>.content .second>.content {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: #fff;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}


main>.content .second>.content .sub-content {
    position: absolute;
    top: 0;
    width: 100%;
}

.sub-content>div {
    text-wrap: pretty;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1rem;
    line-height: 1.5rem;
}

.updateBox a:hover {
    text-decoration: underline;
    color: purple;
}

.seeMore {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(72, 72, 72);
    color: white;
    padding: 0.3rem;
    box-shadow: 0 -5px 50px 5rem rgb(255, 255, 255);
}

.seeMore:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}