@import url('./basicStyles.css');


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.hamberg-menu {
    padding: 0.3rem;
    border-radius: 50%;
    width: 2.2rem;
    aspect-ratio: 1;
    position: absolute;
    top: 4%;
    left: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: none;
    z-index: 10;
}

.hamberg-menu .stick {
    width: 100%;
    height: 3.1px;
    background-color: black;
    border-radius: var(--button-radius--);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem;
}


.banner .left img {
    margin: 10px;
}

.banner .middle {
    color: var(--aot-color--);
    text-align: right;
}

.banner .middle h1 {
    font-size: 2.5rem;
    text-align: center;
}


.banner .right input,
#searchBtn {
    padding: 0.3rem 0.7rem;
    border: none;
    font-size: 1rem;
}

.banner .right input {
    border-bottom: 1px solid gray;
    outline: none;
}

#searchBtn {
    border-radius: var(--button-radius--);
    color: var(--aot-light-color--);
    background-color: var(--aot-color--);
    box-shadow: 0 10px 20px rgba(35, 44, 105, 0.5),
        0 6px 6px rgba(35, 44, 105, 0.5),
        0 0 100px -10px var(--aot-color--);
}

#searchBtn:hover {
    cursor: pointer;
}

#searchBtn:active {
    background-color: var(--aot-dark-color--)
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    z-index: 50;
}

.goback {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    color: var(--aot-light-color--);
    background-color: var(--aot-color--);
    display: none;
}

.goback img {
    filter: invert(100%);
    width: 1rem;
    margin: 0.3rem;
}

.goback:active {
    background-color: var(--aot-dark-color--);
}

nav ul {
    width: 100%;
    list-style: none;
    cursor: pointer;
}

nav>ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    z-index: 60;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.08);
}

.parent-nav {
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parent-nav>ul,
.parent-nav2>ul {
    display: none;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.122);
}

.parent-nav>ul {
    width: 100%;
}

.parent-nav2>ul {
    width: max-content;
    min-width: 10rem;
}

.parent-nav>ul>li,
.parent-nav2>ul>li {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: var(--aot-light-color--);
}

.parent-nav2>ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.parent-nav>.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-nav2>.section {
    align-items: center;
    display: flex;
}

.section p {
    margin-right: 0.5rem;
}

.parent-nav .section img {
    transform: rotate(90deg);
    width: 0.8rem;
    aspect-ratio: 1;
}

.parent-nav2>.section img {
    transform: rotate(0deg);
}

.parent-nav2:hover>.section img {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.parent-nav:hover>.section img {
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}