@media only screen and (max-width:1257px) {
    main>.content {
        grid-template-columns: auto;
    }

    main>.content .second>.content {
        max-height: 20rem;
    }

    main>.content .first {
        max-height: fit-content;
        min-height: 25rem;
    }

    #bulletin h2 {
        font-size: 3rem;
    }

    #bulletin p {
        font-size: 1.1rem;
    }

    .third .about {
        flex-direction: column;
        align-items: center;
    }

    .third .about .story {
        width: 100%;
        margin: 0;

        margin: 1.5rem 0;
    }

    .third .about .video {
        width: 80%;
    }
}

@media only screen and (max-width:682px) {
    .fourth{
        padding: 0;
    }
    .fourth .companies .company img {
        width: 6rem;
        padding: 0;
    }
    .fourth h2{
        line-height: 2.5rem;
        padding: 2rem;
    }
    .fourth .companies {
        display: grid;
        width: 100%;
        margin: 0 -2rem;
        grid-template-columns: auto auto;
    }
    .fourth .companies .company{
        margin: 1rem 0;
    }
}

@media only screen and (max-width:655px) {
    .third .about .video {
        width: 95%;
    }
}

@media only screen and (max-width:630px) {
    .fourth {
        margin: 1rem 0;
        border-radius: 0px;
    }

    nav .search {
        display: block;
    }

    main>.content {
        padding: 0;
    }

    main>.content>.first,
    .black-cover,
    main>.content>.second {
        border-radius: 0px;
    }

    .third {
        margin: 0;
        border-radius: 0;
    }

    .third .about .video {
        width: 100%;
    }
}

@media only screen and (max-width:422px) {
    .fourth h2{
        padding: 1rem;
    }
    .third {
        padding: 0;
        padding-bottom: 1rem;
    }

    .third .about .story {
        padding: 1rem;
        margin-top: -1.5rem;
    }

    .third>h2 {
        padding: 1rem;
    }
}

@media only screen and (max-width:4226px) {
    .loadingPage img {
        scale: 0.8;
    }
}

@media only screen and (max-width:444px) {
    #bulletin h2 {
        font-size: 2rem;
    }

    #bulletin p {
        font-size: 1rem;
        line-height: 1rem;
    }
}