@media only screen and (max-width:1264px) {
    .sixth>.content {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:1257px) {


    #bulletin h2 {
        font-size: 3rem;
    }

    #bulletin p {
        font-size: 1.1rem;
    }

    .third .about {
        flex-direction: column;
        align-items: center;
    }

    .third .about .story {
        width: 100%;
        margin: 0;

        margin: 1.5rem 0;
    }

    .third .about .video {
        width: 80%;
    }
}

@media only screen and (max-width:1200px) {
    .seventh>.content {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width:1129px) {
    .secondParSec {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .event {
        width: 100%;
    }

    .eventContainer {
        height: 400px;
    }

    .second {
        width: 100%;
    }

    .eventInfo {
        width: 500px;
    }

}

@media only screen and (min-width:1001px) {
    main>.content>.first {
        max-height: 32rem;
        background: transparent;
    }
}

@media only screen and (max-width:780px) {
    .exp>.blackCover>.content {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width:913px) {
    .antiRagging>.info img {
        width: 20rem;
    }

    .antiRagging>.info {
        gap: 0;
        margin-bottom: 2rem;
        flex-direction: column;
    }
}

@media only screen and (max-width:770px) {
    .fourth>.info>.rankInfo {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fourth>.info>.rankInfo>.year {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        padding: 0.5rem 1rem;
    }

    .fourth>.info>.rankInfo>img {
        padding-top: 0.5rem;
        /* align-self: flex-start; */
    }

    .fourth>.info>.rankInfo>.writing {
        margin: 0;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width:750px) {
    .fifth {
        margin-top: -2rem;
    }
}

@media only screen and (max-width:722px) {
    .sixth>.content>.left ul {
        display: grid;
        grid-template-columns: 25% 25% 25% auto;
    }

    .sixth>.content>.right ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:682px) {
    .eighth {
        padding: 0;
    }

    .eighth .companies .company img {
        width: 6rem;
        padding: 0;
    }

    .eighth h2 {
        line-height: 1.5rem;
        padding: 2rem;
        padding-bottom: 0;
    }

    .eighth .companies {
        display: grid;
        width: 100%;
        margin: 0 -2rem;
        grid-template-columns: auto auto;
    }


    .ninth p {
        font-size: 0.9rem;
    }

    .eighth .companies .company {
        margin: 1rem 0;
    }
}

@media only screen and (max-width:655px) {
    .third .about .video {
        width: 95%;
    }

    .scrollTo {
        right: 30px;
        bottom: 30px;
    }

    .fifth {
        /* margin: 1rem 0; */
        /* grid-template-columns: auto; */
        display: flex;
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width:630px) {
    .allignments {
        margin: 1rem 0;
    }

    .antiRagging,
    .workshop {
        margin: 1rem 0;
        border-radius: 0;
    }

    .antiRagging>.info img {
        width: 17rem;
    }

    .fourth {
        margin: 1rem 0;
        border-radius: 0;
    }

    .fifth {
        margin-left: 0;
        margin-right: 0;
    }

    .fifth>div {
        border-radius: 0;
    }

    .seventh {
        margin: 1rem 0;
        border-radius: 0;
    }

    .sixth {
        border-radius: 0;
        margin: 0;
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .eighth {
        margin: 1rem 0;
        border-radius: 0px;
    }

    .ninth {
        margin: 0;
        border-radius: 0;
    }

    .ninth iframe {
        width: 100%;
    }

    nav .search {
        display: block;
    }

    main>.content {
        padding: 0;
    }

    main>.content>.first,
    .black-cover,
    .second {
        border-radius: 0px;
    }

    .third {
        margin: 0;
        margin-top: -1rem;
        border-radius: 0;
    }

    .third .about .video {
        width: 100%;
    }

    .event {
        width: 100%;
        padding: 0;
        border-radius: 0;
    }

    .event h2 {
        padding: 0.5rem;
    }

    .eventContainer {
        border-radius: 0;
    }
}

@media only screen and (max-width:544px) {
    .exp {
        height: 38rem;
    }

    .exp>.blackCover {
        padding: 1rem;
    }

    .exp>.blackCover>h2 {
        font-size: 2rem;
    }

    .exp>.blackCover>.content {
        font-size: 0.9rem;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .exp>.blackCover>.content>div {
        margin: 0;
        border-bottom-width: 3px;
    }
}

@media only screen and (max-width:546px) {
    .first {
        max-height: 10rem;
        min-height: 354px;
    }

    #bulletin h2 {
        font-size: 2rem;
    }

    #bulletin p {
        font-size: 1rem;
    }
}

@media only screen and (max-width:488px) {
    .workshop>.info>img {
        width: 100%;
    }
}

@media only screen and (max-width:490px) {
    .first {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width:422px) {

    .allignments,
    .workshop {
        padding: 1rem;
    }

    .workshop>.info {
        padding-bottom: 1rem;
    }

    .allignments>.pics>.images {
        width: 8rem;
        height: 4rem;
    }

    .antiRagging {
        padding: 1rem;
    }

    .third>h2 {
        margin-bottom: 0rem;
    }

    .third>.vision {
        margin-bottom: 2rem;
    }

    .fourth {
        padding: 1rem;
    }

    .fifth div h2 {
        font-size: 1.4rem;
    }

    .seventh {
        padding: 1rem;
    }

    .eighth h2 {
        padding: 1rem;
        padding-bottom: 0;
    }

    .third {
        padding: 0;
        padding-bottom: 1rem;
    }

    .third .about .story {
        padding: 1rem;
        margin-top: -1.5rem;
    }

    .third>h2 {
        padding: 1rem;
    }

    .eventContainer {
        height: 300px;
    }

    .second {
        width: 100%;
    }

    .eventInfo {
        width: 500px;
    }

    .ninth {
        padding: 1rem;
    }
}

@media only screen and (max-width:4226px) {
    .loadingPage img {
        scale: 0.8;
    }
}

@media only screen and (max-width:444px) {
    #bulletin h2 {
        font-size: 2rem;
    }

    #bulletin p {
        font-size: 1rem;
        line-height: 1rem;
    }
}

@media only screen and (max-width:400px) {
    .sixth>.content>.left ul {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width:394px) {

    .third>.vision p,
    .third .about .story p,
    .fourth>.info>.rankInfo>.writing,
    .fifth>div>ul>li a,
    .writingContent span,
    .ninth>span,
    .antiRagging p,
    .workshop p,
    .seventh>.content>.left {
        font-size: 0.9rem;
    }

    .second .content .sub-content .updateBox a {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .eighth .companies .company span {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }

    .antiRagging>.info>img {
        width: 15rem;
    }
}