@media only screen and (max-width:1100px) {
    main {
        zoom: 0.8;
    }
}
@media only screen and (max-width:1229px) {
    #bulletin {
        zoom: 0.8;
    }
}
@media only screen and (max-width:949px) {
    main>.content {
        grid-template-columns: auto;
    }

    main>.content .second>.content {
        max-height: 20rem;
    }

    main>.content .first {
        max-height: fit-content;
        min-height: 25rem;
    }

    #bulletin {
        zoom: 0.8;
    }

    #bulletin h2 {
        zoom: 0.7;
    }
}

@media only screen and (max-width:572px) {

    nav .search {
        display: block;
    }

    main>.content {
        padding: 0;
    }

    main>.content>.first,
    .black-cover,
    main>.content>.second {
        border-radius: 0px;
    }
}

@media only screen and (max-width:4226px) {
    .loadingPage img {
        scale: 0.8;
    }
}

@media only screen and (max-width:394px) {
    #bulletin {
        zoom: 0.6;
    }
}