main {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem;
    grid-gap: 1rem;
}

.card,
.fail {
    background-color: var(--aot-light-color--);
    border-radius: 8px;
    box-shadow: var(--normal-shadow--);
    padding: 1rem;
}

.card p {
    background-color: white;
    padding: 1rem;
}

.fail {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--aot-color--);
}
.fail span:last-child{
    font-weight: bolder;
}

header {
    margin-top: -1rem;
    padding-bottom: 1rem;
    box-shadow: 0 5px 5px 2.5px rgba(0, 0, 0, 0.144);
}

@media only screen and (max-width:514px){
    main{
        padding: 1rem 0;
    }
    .fail,.card{
        border-radius: 0;
    }
}