@import url(./basicStyles.css);

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .achivementsPrograms .achivements{
        width: 59.99%;
    }
    .achivementsPrograms .programs {
        width: 39.99%;
    }    
}
@media only screen and (max-width: 650px){
    .achivementsPrograms{
        display: flex;
        flex-direction: column;
    }
    .achivementsPrograms .achivements{
        width: 100%;
    }
    .achivementsPrograms .programs {
        width: 100%;
    }   
    .program{
        min-width: 47%;
        max-width: 340px;
    }
    .programHeading h2{
        width: 100dvw;
        background-color: #232C69;
        color: white;
        text-align: center;
        padding: 8px 0px;
        margin-top: 20px;
        font-size: 1.7em;

    }
    

}