@import url(basicStyles.css);


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-slide-container {
    width: 100%;
    height: 580px;
    /* background-color: aquamarine; */

}

.intro-slides {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.intro-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.intro-slides img:not(.active) {
    top: 0;
    left: -100%;
}



.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    font-size: 24px;
    color: #007aff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 7px;
    padding: 14px;
    z-index: 1;

}

span.next {
    right: 20px;
}

span.prev {
    left: 20px;
}

span.next:hover,
span.prev:hover {
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}


@keyframes next1 {
    from {
        left: 0%
    }

    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%
    }

    to {
        left: 0%;
    }
}

@keyframes prev1 {
    from {
        left: 0%
    }

    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%
    }

    to {
        left: 0%;
    }
}

.headings {
    background-color: #232C69;
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin-top: 20px;
    font-size: 1.7em;
}

/* ====================     infrastructure section     ============================ */

.infrastructure {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.facility {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 160px;
    width: 275px;
    /* background-color: #3846a2; */
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    transition: all 0.4s;
    padding: 10px;
    background-color: rgb(242, 242, 242);
    box-shadow: -5px 5px 5px #d7d7d7;
}

.facility:hover {
    background: var(--aot-color--);
    color: #fff;
    box-shadow: -3px 3px 3px rgb(56, 56, 56), -5px 7px 5px 5px rgba(35, 44, 105, 0.5);
    transform: translate(5px, -10px);
    color: white;
}



/* =======================    Achivements and Academic Programs      =============== */

.achivementsPrograms {
    display: flex;
    padding: 10px;


}

.achivementsPrograms .achivements {
    width: 69.999%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.achivement {
    display: flex;
    min-width: 47%;
    max-width: 340px;
    min-height: 190px;
    background-color: rgb(233, 233, 233);
    flex-direction: column;
    text-align: center;
    border-radius: 7px;
    margin: 10px;
    /* border: 2px solid black; */
    box-shadow: -5px 5px 5px #d7d7d7;
    transition: all 0.4s;
    padding: 10px;
}

.achivement:hover {
    box-shadow: -3px 3px 3px rgb(56, 56, 56), -5px 7px 5px 5px rgba(35, 44, 105, 0.5);
    transform: translate(5px, -10px);
}



/* ===========================   programs   ======================== */


.achivementsPrograms .programs {
    width: 29.999%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.programList {
    width: 100%;
    flex-direction: column;
}


.program {
    display: flex;
    width: 90%;
    min-height: 180px;
    height: auto;
    background-color: rgb(242, 242, 242);
    /* border: 3px solid black; */
    border-radius: 7px;
    margin: 10px 0px;
    flex-direction: column;
    padding: 7px;
    transition: all 0.4s;
    box-shadow: -5px 5px 5px #d7d7d7;
    /* background-image: url(../assets/images/program1.jpg); */
    object-fit: contain;
    background-position: center;
}

#program1 {
    background-image: url(../assets/images/program1.jpg);
}

.program:hover {
    box-shadow: -3px 3px 3px rgb(56, 56, 56), -5px 7px 5px 5px rgba(35, 44, 105, 0.5);
    transform: translate(5px, -10px);
}

.program a p, .program a h3 {
    text-align: center;
}
.program a {
    text-decoration: none;
    color: #222;
}

.program a:hover {
    text-decoration: underline;
    color: rgb(115, 48, 146);
}



/* =================================    curriculum    ============================= */

.curriculum {
    padding: 20px 30px;
}

.curriculum ul {
    list-style-type: circle;
}

.curriculum ul li {
    font-size: 1em;
}
.curriculum ul li a{
    text-decoration: none;
    color: #222;
}

/* ======================================    research   =============================== */


.research {
    padding: 20px 30px;
}

.research ul {
    list-style-type: circle;
}

.research ul li {
    font-size: 1em;
}

.research ul li a {
    text-decoration: none;
    color: #222;
}

/* ===================================   faq    ============================= */

.faqs {
    padding: 20px 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

th:first-child,
td:first-child {
    width: 25%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 75%;
}

.faqs ul {
    list-style-type: circle;

}

.faq {
    padding: 10px 0px;
}

.faq p a {
    text-decoration: none;
    color: #222;
}

/* =================================== scroll to top  =============================== */

.to-top {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index:10;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.293);
    transition: all 0.3s ease;
    opacity: 0;
    display: none;
}
.to-top:active{
    scale: 1.1;
}

.active-btn {
    display: block;
    opacity: 1;
}

.to-top a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-top a img {
    width: 100%;
    height: 100%;
}
